.userInfoWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  border: 1px solid #222222;
  box-sizing: border-box;
  font-size: 1rem;
  color: #222222;
  text-align: left;
  background: #ffffff;
  border-radius: 8px;
}

.userInfoList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.userInfoItem {
  margin-bottom: 8px;
}

.userInfoItem:last-child {
  margin-bottom: 0;
}
