.main-cards-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  text-align: left;
  align-content: flex-start;
  overflow: hidden;

  &__title {
    margin-bottom: 1rem;

    &__main-title {
      font-weight: bold;
    }

    &__subtitle {
      color: #888888;
    }
  }
}

.main-cards-section:not(:last-child) {
  margin-bottom: 3rem;
}
