.cardsSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  text-align: left;
  align-content: flex-start;
  overflow: hidden;

  .title {
    margin-bottom: 1rem;

    .mainTitle {
      font-weight: bold;
    }

    .subtitle {
      color: #888888;
    }
  }
}

.cardsSection:not(:last-child) {
  margin-bottom: 3rem;
}
