.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 58px;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
  border-bottom: 1px solid #ededed;
}

.logoArea {
  display: flex;
  align-items: center;
}

.menuArea {
  display: flex;
  align-items: center;
  gap: 20px;
}
