// stylelint-disable-next-line scss/at-mixin-pattern
@mixin labelFont($size, $height, $weight: 500) {
  font-family: Roboto-Medium, sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

.default {
  display: inline-block;
  margin-bottom: 4px;
  color: #000000;

  @include labelFont(16px, 24px, 500);
}

/* 크기(폰트/라인/굵기) 전용 */

.bold {
  @include labelFont(16px, 24px, 700);

  font-family: Roboto-Bold, sans-serif;
}

.small {
  @include labelFont(14px, 20px, 500);
}

/* 색상 전용 클래스 */
.colorGray {
  color: #8d8d8d;
}

.colorDarkgray {
  color: #5f5a5a;
}

.colorAccent {
  color: #e18c04;
}

.colorWhite {
  color: #ffffff;
}

.colorRed {
  color: #ff0000;
}

.colorBlue {
  color: #0000ff;
}

.colorLightgray {
  color: rgb(0 0 0 / 50%);
}
