@use './reset'; // 리셋 SCSS
@use './core';

// 루트 스타일링
#root {
  margin: 0 auto;
  text-align: center;
}

// 링크 스타일링
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

// 바디 스타일링
body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  line-height: core.$default-line-height;
}

// 버튼 스타일링
button {
  border: none;
  cursor: pointer;
  outline: none;
}
