.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin-top: 3rem;
  text-align: left;

  .emailInput,
  .password {
    margin-bottom: 1rem;
  }

  .emailLabel,
  .passwordLabel {
    line-height: 1.5rem;
  }

  .emailLabel,
  .emailInput,
  .passwordLabel,
  .passwordInput {
    width: 100%;
  }

  .loginButton {
    margin-top: 1rem;
  }
}
