.location-card {
  position: relative;
  width: calc((100% - 5rem) / 6);
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: cover;
    -webkit-user-drag: none;

    &:hover {
      transform: scale(1.3); // ✨ 확대
    }

    &:active {
      transform: scale(1.1); // ✨ 클릭 시 살짝 축소
    }
  }

  &__content {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
  }
}
