@mixin input-base {
  align-items: center;
  background: #ffffff;
  border-color: rgb(0 0 0 / 10%);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  gap: 4px;
  height: 36px;
  justify-content: flex-start;
  line-height: 20px;
  outline: none;
  padding: 8px 12px;
  position: relative;
}

.atom-input {
  @include input-base;

  width: 100%;
}

.atom-input.short {
  @include input-base;

  width: 395px;
}

.atom-input.default {
  @include input-base;

  width: 500px;
}

.atom-input.long {
  @include input-base;

  width: 520px;
}
