.form {
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
}

.toggleIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.toggleBtn {
  padding: 0 4px;
  border: none;
  font-size: 22px;
  background: none;
}

.errors {
  color: red;
}

.submitBtn {
  width: 520px !important;
}
