.box {
  display: flex;
  flex-direction: column;
  width: 100%;

  .weekWrapper,
  .dateWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
