.page {
  background: #ffffff;
}

.titleArea {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: 0 auto;
  text-align: left;
  gap: 8px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 8px;
}

.localCard {
  width: 175px;
  height: 110px;
  background: #eeeeee;
  border-radius: 12px;
}

.categoryBar {
  display: flex;
  width: 1100px;
  margin: 20px auto 24px;
  gap: 12px;
}

.button {
  width: 120px;
  height: 48px;
  border: 1.5px solid #dddddd;
  font-size: 16px;
  background: #ffffff;
  border-radius: 24px;
}

.buttonActive {
  border: 1.5px solid #222222 !important;
  font-weight: 700;
  color: #ffffff !important;
  background: #222222 !important;
}

.gridList {
  display: grid;
  width: 1100px;
  margin: 0 auto 40px;
  padding-bottom: 40px;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  height: 260px;
  background: #f5f5f5;
  border-radius: 12px;
}
