.Overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 15%);
  z-index: 1000;
  inset: 0;
}

.Box {
  position: relative;
  width: 700px;
  max-width: 700px;
  padding: 60px 0; // 좌우 패딩 제거
  background: #ffffff;
  box-shadow: 0 2px 16px rgb(0 0 0 / 8%);
  border-radius: 16px;
}

.CloseButton {
  position: absolute;
  top: 24px; // 모달 내부 상단에서 24px
  right: 24px; // 모달 내부 우측에서 24px
  border: none;
  font-size: 32px;
  color: #bdbdbd;
  background: none;
  transition: color 0.2s;
  cursor: pointer;
  z-index: 10;

  &:hover {
    color: #333333;
  }
}

.Title {
  margin-bottom: 10px;
}

.Content {
  height: 100px; // 임시 높이 설정
  margin-top: 30px;
  background-color: red;
}

.Container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.ContentInner {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}
