.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 15%);
  z-index: 1000;
  inset: 0;
}

.box {
  position: relative;
  padding: 40px 0 60px; // 좌우 패딩 제거
  background: #ffffff;
  box-shadow: 0 2px 16px rgb(0 0 0 / 8%);
  border-radius: 16px;
}

.closeButton {
  position: absolute;
  top: 20px; // 모달 내부 상단에서 24px
  right: 24px; // 모달 내부 우측에서 24px
  border: none;
  font-size: 48px;
  color: #bdbdbd;
  background: none;
  transition: color 0.2s;
  cursor: pointer;
  z-index: 10;

  &:hover {
    color: #333333;
  }
}

.title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}

.content {
  height: 100px; // 임시 높이 설정
  margin-top: 30px;
  background-color: red;
}

.container {
  position: relative;
  width: 100%;
}

.contentInner {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.header {
  padding: 0 90px;
  text-align: left;
}

.subtitle {
  padding-bottom: 10px;
  white-space: pre-line;
}

.headerWrapper {
  padding: 20px 0;
}

.agreementContent {
  max-height: 600px;
  margin: 0 auto;
  padding: 40px 90px 0;
  text-align: left;
  border-top: 2px solid #cdcdcd;
  overflow-y: auto;
  white-space: pre-line;
}
