.userPageWrapper {
  width: 100%;
  padding: 0;
  background: #ffffff;
}

.userContentWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-width: 1160px;
  margin: 0 auto;
}

.sectionTitle {
  margin-top: 32px; // UserBanner와의 간격 조정
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.userTripWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #222222;
  border-radius: 20px;
}

.tripWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}

.emptyMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 30vh;
  margin: 20px auto;
  padding: 20px;
  border: #9d9d9d solid 2px;
  letter-spacing: 0.02em;
  border-radius: 20px;
}

.tripButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
