.userPageWrapper {
  width: 100%;
  padding: 0;
  background: #ffffff;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.userTripWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #222222;
  border-radius: 20px;
}

.tripWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
}
