.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 58px;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
  font-size: 14px;
  color: #888888;
  background: #fafafa;
  border-top: 1px solid #ededed;
}
