.sectionRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.errorMessage {
  margin-top: 2px;
  font-size: 13px;
  color: #e74c3c;
}

.rightAlignButton {
  align-self: flex-end;
}
