.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .selectedPage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 15px;
    user-select: none;
    flex-flow: row nowrap;

    .nowPage {
      color: #e18c04;
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    padding: 1rem;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 15px;
    gap: 3rem;

    .title {
      width: 60%;
      margin: auto;
      margin-bottom: 1rem;
      line-height: 2rem;
      text-align: left;
    }

    .item,
    .info {
      width: 100%;
    }

    .item {
      .itemWrapper {
        position: relative;
        display: flex;
        width: 50%;
        margin: auto;
        padding: 1rem;
        border: 1px solid #151515;
        box-sizing: border-box;
        border-radius: 5px;
        gap: 1rem;

        .itemImage {
          width: 5rem;
          height: 5rem;
          object-fit: cover;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .itemInfoWrapper {
          line-height: 1.5rem;
          text-align: left;

          .itemName {
            margin-bottom: 0.5rem;
            font-weight: bold;
          }
        }

        .price {
          position: absolute;
          right: 1rem;
          bottom: 1rem;
          font-weight: bold;
        }
      }
    }

    .info {
      gap: 1rem;

      .infoWrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 50%;
        margin: auto;
        padding: 1rem;
        border: 1px solid #151515;
        box-sizing: border-box;
        text-align: left;
        border-radius: 5px;
        gap: 1rem;
      }

      .buttonWrapper {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin: auto;

        .nextButton {
          margin: 2rem 0 1rem 1rem;
        }
      }
    }
  }
}
